<section layout="row" flex ng-controller="menuCtrl">
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left-menu"
            md-is-locked-open="false"
            md-disable-backdrop＝"false"
            md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">剧旅人</h1>
        </md-toolbar>
        <md-content layout-padding>
            <a >剧目</a>
        </md-content>
    </md-sidenav>
</section>