<section layout="row" flex ng-controller="menuCtrl">
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left-menu"
            md-is-locked-open="false"
            md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">剧旅人</h1>
        </md-toolbar>
            <md-list flex>
                <md-list-item class="md-1-line" ng-click="leftClose()" ui-sref="index">
                    <md-icon class="menu-icon" style="" md-svg-icon="img/icons/menu_svg.svg"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        首页
                    </div>
                    <md-button class="md-secondary md-icon-button"  aria-label="call">

                    </md-button>
                </md-list-item>
                <md-list-item class="md-1-line" ng-click="leftClose()" ui-sref="items">
                    <md-icon class="menu-icon" style="" md-svg-icon="img/icons/icon_hotpoint_svg.svg"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        剧目
                    </div>
                </md-list-item>
            </md-list>
    </md-sidenav>
</section>