<!-- 页面内容 -->
<ion-view>
    <!-- 导航栏title -->
    <ion-nav-title align-title="center">
        <div class="bar-header-item">
            <span>aaaa</span>
        </div>
        <div class="bar-header-item">
            <span>bbbb</span>
        </div>
    </ion-nav-title>

    <!-- 滚动视图 -->
    <ion-content>
        dsds
    </ion-content>

    <% include ../common/tabs %>
</ion-view>
