<div style="position: absolute;bottom: 0px;width: 100%;">
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="热点" href="#/">
            <ion-nav-view name="/"></ion-nav-view>
        </ion-tab>

        <ion-tab title="剧目" href="#/items">
            <ion-nav-view name="items"></ion-nav-view>
        </ion-tab>

        <ion-tab title="演员" href="#/performer">
            <ion-nav-view name="performer"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</div>
