<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>新建剧目</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                剧目表单
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                取消
            </md-button>
            <md-button ng-click="create()"md-autofocus>
                新建
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>