<!DOCTYPE html>
<html>
  <head>
    <title>音乐剧管理</title>
    <% include common/resources%>

    <script src="/app/action/manager.action.js"></script>
    <script src="/app/ctrl/manager.ctrl.js"></script>

    <script src="/app/ctrl/items.ctrl.js"></script>
    <script src="/app/service/items.service.js"></script>
  </head>
  <body ng-app="managerApp">
    <% include common/header_toobar%>
    <% include common/menu%>

    <section layout="row" flex ui-view></section>
    <% include common/footer_toobar.ejs%>
  </body>
</html>
